@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1e293b;
    --card: #ffffff;
    --card-foreground: #1e293b;
    --popover: #ffffff;
    --popover-foreground: #1e293b;
    --primary: #4E2FD2;
    --primary-foreground: #ffffff;
    --secondary: #f1f5f9;
    --secondary-foreground: #1e293b;
    --muted: #f1f5f9;
    --muted-foreground: #1e293b;
    --accent: #f1f5f9;
    --accent-foreground: #1e293b;
    --destructive: #f87171;
    --destructive-foreground: #ffffff;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #4E2FD2;
    --radius: 0.5rem;
  }

  .dark {
    --background: #1e293b;
    --foreground: #ffffff;
    --card: #1e293b;
    --card-foreground: #ffffff;
    --popover: #1e293b;
    --popover-foreground: #ffffff;
    --primary: #4E2FD2;
    --primary-foreground: #ffffff;
    --secondary: #1e293b;
    --secondary-foreground: #ffffff;
    --muted: #1e293b;
    --muted-foreground: #ffffff;
    --accent: #1e293b;
    --accent-foreground: #ffffff;
    --destructive: #f87171;
    --destructive-foreground: #ffffff;
    --border: #334155;
    --input: #334155;
    --ring: #4E2FD2;
  }
}